# Exergy Calculator
#### Must have excel file with a "SMILES" Column. 
###### Can also include "ID", "CASN", "Formula" columns

In [8]:
import sys, pathlib
from rdkit import Chem
from rdkit.Chem import Draw
import pandas as pd

ROOT = pathlib.Path("..").resolve()
if str(ROOT) not in sys.path:
    sys.path.insert(0, str(ROOT))

from Exergy_Bones.group_loader import load_smarts_groups_from_excel
smarts_db = load_smarts_groups_from_excel()

In [9]:
# Enter excel path
file_path="C:/Users/mmarc/Documents/Exergy/Test_sample_excel.xlsx"

In [10]:
group_names = [g.name for g in smarts_db.groups]

df = pd.read_excel(file_path)

# add group counts
for gname in group_names:
    df[gname + " (calc)"] = 0

for idx, row in df.iterrows():
    smi = row["SMILES"]
    if not isinstance(smi, str) or not smi.strip():
        continue
    res = smarts_db.analyze_smiles(smi)
    count_map = {r["name"]: r["count"] for r in res}
    for gname in group_names:
        df.at[idx, gname + " (calc)"] = count_map.get(gname, 0)

# now run your existing attach_exergy_columns
from Exergy_Bones.exergy_calc import attach_exergy_columns

df_exergy = attach_exergy_columns(df, smarts_db)

In [11]:
df_exergy

,No.,Chemical Name,SMILES,CASN,Formula,Group 1 (calc),Group 2 (calc),Group 3 (calc),Group 4 (calc),Group 5 (calc),...,Group 73 (calc),Group 74 (calc),Group 75 (calc),Group 76 (calc),Group 77 (calc),Group 78 (calc),Eq4_term,Sum_H_groups,Sum_S_groups,Exergy (kJ/mol)
0,1,abietic acid,CC(C)C1=CC2=CC[C@@H]3[C@@]([C@H]2CC1)(CCC[C@@]...,514-10-3,C20H30O2,0,0,0,1,0,...,0,0,0,0,0,0,11750.67,-592.5103,-1.6362,11645.992730
1,2,acetic acid,CC(=O)O,64-19-7,C2H4O2,0,0,0,1,0,...,0,0,0,0,0,0,1296.69,-405.9447,-0.1452,934.036680
2,3,acrylic acid,C=CC(=O)O,79-10-7,C3H4O2,0,0,0,1,0,...,0,0,0,0,0,0,1706.95,-368.5643,-0.1636,1387.163040
3,4,adiponitrile,C(CCC#N)CC#N,111-69-3,C6H8N2,0,0,0,0,0,...,0,0,0,0,0,0,3406.68,169.2373,-0.3015,3665.809525
4,5,alpha-methylstyrene,CC(=C)C1=CC=CC=C1,98-83-9,C9H10,0,0,0,0,0,...,0,0,0,0,0,0,4872.84,96.7770,-0.2764,5052.025660